body {
  font-family: Verdana;
}

#machineView {
  font-size: 10pt;
}

#machineView .rackBox {
  fill: none;
  stroke: black;
}

#machineView .rackID {
  text-anchor: middle;
}

#machineView .cabinBox {
  fill: none;
  stroke: steelblue;
}

#machineView .nodeBox {
  fill: white;
  stroke-width: 0.5;
  stroke: steelblue;
}
