body {
  font-family: Verdana;
  font-size: 9pt;
}

svg text {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.chart {
  position: absolute;
}

#tabs {
  font-size: 9pt;
  position: absolute;
  top: 0;
  left: 1010;
  width: 400;
  height: 460;
  display: none;
}

#eventTable {
  font-size: 8pt;
  table-layout: fixed;
  width: 1160px;
}

#eventTable td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#timeVolumeChart .pane {
  fill: none;
  pointer-events: all;
}

#controlPanel {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

#tableView {
  font-size: 9pt;
  position: absolute;
  left: 270;
  top: 480;
  display: none;
}

#machineView {
  font-size: 9pt;
}

#machineView .rackBox {
  fill: none;
  stroke: black;
}

#machineView .rackID {
  text-anchor: middle;
  font-size: 8pt;
}

#machineView .midplaneID {
  text-anchor: middle;
  font-size: 3pt;
}

#machineView .nodeBoardID {
  text-anchor: middle;
  font-size: 0.5pt;
}

#machineView .midplaneBox {
  fill: none;
  stroke-width: 0.5;
  stroke: steelblue;
}

#machineView .nodeBoardBox {
  fill: white;
  stroke-width: 0.25;
  stroke: steelblue;
}

#machineView .computeCardBox {
  fill: white;
  stroke-width: 0.1;
  stroke: steelblue;
}

#machineView .ioDrawerBox {
  fill: white;
  stroke-width: 0.5;
  stroke: steelblue;
}

